/* #2F0C38 - purple */
/* #F8A619 - gold */
body {
  font-family: 'Coustard', serif;
}

.form-section {
  background: #000000;
  height: 90vh;
}

.form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  color: white;
  /* height: 70vh; */
  width: 35vw;
  position: relative;
  align-items: center;
  margin: auto;
  padding: 2% 0% 3% 0%;
  top: 15vh;
}

