/* #2F0C38 - purple */
/* #F8A619 - gold */
body {
  font-family: 'Coustard', serif;
}

.header {
  display: flex;
  flex-direction: row;
}
.header img {
  width: 15%;
  padding: 1%;
}
.header h2 {
  letter-spacing: 2px;
  position: relative;
  left: 70%;
  font-size: 30px;
}

/* Form */
.form-section {
  background: #000000;
  height: 90vh;
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #2F0C38;
  width: 35vw;
  position: relative;
  align-items: center;
  margin: auto;
  padding: 2% 0% 3% 0%;
  top: 10vh;
}
.form h2 {
  background: #2F0C38;
  color: #F8A619;
  letter-spacing: 3px;
  border: 5px double #F8A619;
  padding: 2% 5% 2% 5%;
}
.form label {
  letter-spacing: 1px;
  font-weight: bold;
}
.form input {
  padding: 1%;
  width: 45%;
  margin: 1%;
}
.menu-btn {
  cursor: pointer;
  background: #F8A619;
  border: none;
  margin: 2%;
  padding: 1.5%;
  width: 30%;
  color: white;
  font-weight: bold;
}

.menu-btn:hover {
  background: #2F0C38;
  color: white;
}
.submit-btn {
  cursor: pointer;
  background: #2F0C38;
  border: 5px double #F8A619;
  padding: 2% 5% 2% 5%;
  margin-top: 5%;
  /* width: 25%; */
  color: #F8A619;
  font-size: 15px;
  font-weight: bold;
}
.submit-btn:hover {
  background: white;
  color: #2F0C38;
  border: 5px double #2F0C38;
}

